
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>&copy; Brit Finnegan <span id="year"></span></p>
  </div>
</div>
<script>
  const yearEl = document.querySelector('#year');
  const year =  new Date();
  yearEl.innerHTML = year.getFullYear();
</script>
</body>
</html>
